@model Active.Models.DisplayUsersViewModel

@if (Model.Users_Distance != null)
{
    <div id="partialP">
        <p>@Model.Users_Distance</p>
    </div>
}
<style>
    #partialP{
        font-weight:500;
    }
</style>